body {
	font-family: sans-serif;
	font-size: 24px;
}

#output {
	.row {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		height: 56px;

		* {
			display: inline-block;
		}
	}

	.label {
		width: 150px;
	}

	.container {
		width: 335px;
		height: 24px;
		position: relative;
		border-radius: 10px;
		margin-right: 20px;
	}

	.indicator {
		position: absolute;
		top: -23px;
		left: 0;
		transform: translateX(-50%);
	}
}

#previews {
	&::after {
		clear: both;
	}

	.left {
		float: left;
	}

	.prev {
		width: 200px;
		height: 200px;
	}
}
